<!DOCTYPE HTML>
<html ng-app="SIR" ng-csp>
<head>
	<meta http-equiv="content-type" content="text/html" />
    
	<title></title>
    <link rel="stylesheet" href="../../skin/css/reset.css" type="text/css"/>
    <link rel="stylesheet" href="../../skin/css/items.css" type="text/css"/>
</head>
<body class="sir-txtRGBA" ng-controller="RGBACtrl">
<div class="field"><div class="square" ng-style="blockStyle"></div></div>
<div class="item-controls">
    <p><span>R:</span><input  min="0" max="255" step="1" type="range" ng-model="red"><input ng-model="red" type="text" ></p>
    <p><span>G:</span><input  min="0" max="255" step="1" type="range" ng-model="green"><input ng-model="green" type="text"></p>
    <p><span>B:</span><input  min="0" max="255" step="1" type="range" ng-model="blue"><input ng-model="blue" type="text" ></p>
    <p><span>Opacity:</span><input  min="0" max="1" step=".1" type="range" ng-model="opacity"><input type="text" ng-model="opacity" ></p>
</div>
<div class="control-panel"></div>
<textarea rows="8" class="code-area">{{resultCode}}</textarea>


<script src="../libs/angular.min.js"></script>
<script src="../scripts/items.js"></script>
</body>
</html>